In [243]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import sys
import nltk

In [244]:
#loading the data
train_dataset = pd.read_json("Kickstarter_2022-12-15T03_20_04_521Z.json", lines=True)
actual_data = [train_dataset["data"][k] for k in range(len(train_dataset))]
train_dataset.head()

,table_id,robot_id,run_id,data
0,Kickstarter,Kickstarter,Kickstarter_2022-12-15T03_20_04_521Z,"{'id': 2014941593, 'photo': {'key': 'assets/03..."
1,Kickstarter,Kickstarter,Kickstarter_2022-12-15T03_20_04_521Z,"{'id': 1932477189, 'photo': {'key': 'assets/03..."
2,Kickstarter,Kickstarter,Kickstarter_2022-12-15T03_20_04_521Z,"{'id': 1127603300, 'photo': {'key': 'assets/03..."
3,Kickstarter,Kickstarter,Kickstarter_2022-12-15T03_20_04_521Z,"{'id': 640015337, 'photo': {'key': 'assets/039..."
4,Kickstarter,Kickstarter,Kickstarter_2022-12-15T03_20_04_521Z,"{'id': 233782977, 'photo': {'key': 'assets/039..."

In [245]:
#creating the dataset
train_data = pd.DataFrame(actual_data)
train_data.head()

,id,photo,name,blurb,goal,pledged,state,slug,disable_communication,country,...,location,category,profile,spotlight,urls,source_url,friends,is_starred,is_backing,permissions
0,2014941593,{'key': 'assets/038/408/400/93382a88c9dbc1af95...,Driving School Stories of Celebrity Teens,Live camera installed inside an actual driving...,120000,26.0,failed,driving-school-stories-of-celebrity-teens,False,US,...,"{'id': 2363796, 'name': 'Beverly Hills', 'slug...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4465571, 'project_id': 4465571, 'state'...",False,{'web': {'project': 'https://www.kickstarter.c...,https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
1,1932477189,{'key': 'assets/039/331/847/6e37eed9904bea5a61...,Crime Squad 3D Blu-ray - REMASTER3D!,Crime Squad 3D in Superstereovision! Remastere...,2000,2541.0,live,crime-squad-3d-blu-ray,False,GB,...,"{'id': 19344, 'name': 'Edinburgh', 'slug': 'ed...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4516474, 'project_id': 4516474, 'state'...",False,{'web': {'project': 'https://www.kickstarter.c...,https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
2,1127603300,{'key': 'assets/039/363/407/a22ed33f3e39868214...,Help Us Get To Los Angeles!,"As winners of the 48-Hour Film Project, we hop...",16000,106.0,live,help-subharmonic-city-get-to-hollywood,False,US,...,"{'id': 2397816, 'name': 'El Paso', 'slug': 'el...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4518603, 'project_id': 4518603, 'state'...",False,{'web': {'project': 'https://www.kickstarter.c...,https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
3,640015337,{'key': 'assets/039/441/179/34d28696f4d6b0e43c...,SECRET,A Superhero Comedy,50000,501.0,live,secret-0,False,US,...,"{'id': 2416847, 'name': 'Hampton', 'slug': 'ha...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4521089, 'project_id': 4521089, 'state'...",False,{'web': {'project': 'https://www.kickstarter.c...,https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
4,233782977,{'key': 'assets/039/379/732/36d936f41c46751a38...,PINK (Short Film),A neurotic actress falls into crisis at her bi...,2000,1176.0,live,pink-short-film,False,US,...,"{'id': 2379574, 'name': 'Chicago', 'slug': 'ch...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4519929, 'project_id': 4519929, 'state'...",False,{'web': {'project': 'https://www.kickstarter.c...,https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN

In [246]:
#exploring some of the features
print("The features of this dataset are: ", train_data.keys())
print(" \n \n blurb: ", train_data["blurb"][0], "\n \n ", "location: ", train_data["location"][0], "\n \n ", "category: ", train_data["category"][0], "\n \n ", "profile: ", train_data["profile"][0])

The features of this dataset are:  Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'country_displayable_name',
       'currency', 'currency_symbol', 'currency_trailing_code', 'deadline',
       'state_changed_at', 'created_at', 'launched_at', 'staff_pick',
       'is_starrable', 'backers_count', 'static_usd_rate', 'usd_pledged',
       'converted_pledged_amount', 'fx_rate', 'usd_exchange_rate',
       'current_currency', 'usd_type', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')


 blurb:  Live camera installed inside an actual driving school

  location:  {'id': 2363796, 'name': 'Beverly Hills', 'slug': 'beverly-hills-ca', 'short_name': 'Beverly Hills, CA', 'displayable_name': 'Beverly Hills, CA', 'localized_name': 'Beverly Hills', 'country': 'US', 'state': 'CA', 'type': 'Town', 'is_root': False, 'expanded_country': 'United States', 'urls': {'web': {'discover': 'https://www.kickstarter.com/discover/places/beverly-hills-ca', 'location': 'https://www.kickstarter.com/locations/beverly-hills-ca'}, 'api': {'nearby_projects': 'https://api.kickstarter.com/v1/discover?signature=1671131424.7dadba4f2fadc4b0b45e3bfce93a67975f2789a9&woe_id=2363796'}}}

  category:  {'id': 292, 'name': 'Comedy', 'analytics_name': 'Comedy', 'slug': 'film & video/comedy', 'position': 3, 'parent_id': 11, 'parent_name': 'Film & Video', 'color': 16734574, 'urls': {'web': {'discover': 'http://www.kickstarter.com/discover/categories/film%20&%20video/comedy'}}}

  profile:  {'id': 4465571, 'project_id': 4465571, 'state': 'inactive', 'state_changed_at': 1661625074, 'name': None, 'blurb': None, 'background_color': None, 'text_color': None, 'link_background_color': None, 'link_text_color': None, 'link_text': None, 'link_url': None, 'show_feature_image': False, 'background_image_opacity': 0.8, 'should_show_feature_image_section': True, 'feature_image_attributes': {'image_urls': {'default': 'https://ksr-ugc.imgix.net/assets/038/408/400/93382a88c9dbc1af95992c496abd38e7_original.jpeg?ixlib=rb-4.0.2&crop=faces&w=1552&h=873&fit=crop&v=1661625239&auto=format&frame=1&q=92&s=04b08346a71d90b32a7cbb28be0972c2', 'baseball_card': 'https://ksr-ugc.imgix.net/assets/038/408/400/93382a88c9dbc1af95992c496abd38e7_original.jpeg?ixlib=rb-4.0.2&crop=faces&w=560&h=315&fit=crop&v=1661625239&auto=format&frame=1&q=92&s=c8db7a1b2282afbd6c85813346d69682'}}}

In [247]:
#writing a function to create the final dataset
def clean_concat(list_of_datasets):
    data_frames=[]
    for dataset in list_of_datasets:
        dataset = pd.read_json(dataset, lines=True)
        actual_data = [dataset["data"][k] for k in range(len(dataset))]
        data_frames.append(pd.DataFrame(actual_data))
    final_dataset = pd.concat([data for data in data_frames])
    return(final_dataset)

In [248]:
# concatenating creates problems with the indexes 
#training_df = clean_concat(["/Users/ghitaalami/Coding Projects/Berkeley Projects/ML-and-Data-Analytics/Project/Kickstarter_2022-12-15T03_20_04_521Z.json", "/Users/ghitaalami/Coding Projects/Berkeley Projects/ML-and-Data-Analytics/Project/Kickstarter_2023-01-05T03_20_04_136Z.json"])

In [249]:
training_df = train_data

In [250]:
#let's decide which columns should be dropped
training_df["photo"][0] #should probably be dropped for now
training_df["state"][0] #our label 
training_df["urls"][0] #should probably be dropped 
training_df["currency"][10] #should be dropped because "currency_symbol" contains the same information
training_df["source_url"][200] #should probably be dropped for now 
training_df["friends"][1600] #should check if only contains NaNs
training_df["permissions"][1000] #should check if only contains NaNs

nan

In [251]:
#modify the clean_concat function to drop some columns
def clean_concat_drop(list_of_datasets, list_of_columns):
    data_frames=[]
    for dataset in list_of_datasets:
        dataset = pd.read_json(dataset, lines=True)
        actual_data = [dataset["data"][k] for k in range(len(dataset))]
        data_frames.append(pd.DataFrame(actual_data))
    final_dataset = pd.concat([data for data in data_frames])
    final_dataset = final_dataset.drop(list_of_columns)
    return(final_dataset)

In [252]:
#dropping some useless features for now
training_df = training_df.drop(["photo", "urls", "currency", "source_url" ], axis=1)

In [253]:
training_df["profile"][0]

{'id': 4465571,
 'project_id': 4465571,
 'state': 'inactive',
 'state_changed_at': 1661625074,
 'name': None,
 'blurb': None,
 'background_color': None,
 'text_color': None,
 'link_background_color': None,
 'link_text_color': None,
 'link_text': None,
 'link_url': None,
 'show_feature_image': False,
 'background_image_opacity': 0.8,
 'should_show_feature_image_section': True,
 'feature_image_attributes': {'image_urls': {'default': 'https://ksr-ugc.imgix.net/assets/038/408/400/93382a88c9dbc1af95992c496abd38e7_original.jpeg?ixlib=rb-4.0.2&crop=faces&w=1552&h=873&fit=crop&v=1661625239&auto=format&frame=1&q=92&s=04b08346a71d90b32a7cbb28be0972c2',
   'baseball_card': 'https://ksr-ugc.imgix.net/assets/038/408/400/93382a88c9dbc1af95992c496abd38e7_original.jpeg?ixlib=rb-4.0.2&crop=faces&w=560&h=315&fit=crop&v=1661625239&auto=format&frame=1&q=92&s=c8db7a1b2282afbd6c85813346d69682'}}}

In [254]:
#Let's try a first model with less features
training_df = training_df.drop("country_displayable_name", axis=1)
training_df = training_df.drop(["is_backing", "is_starred", "spotlight", "friends", "permissions", "disable_communication"], axis=1)

In [255]:
training_df.head(5)

,id,name,blurb,goal,pledged,state,slug,country,currency_symbol,currency_trailing_code,...,usd_pledged,converted_pledged_amount,fx_rate,usd_exchange_rate,current_currency,usd_type,creator,location,category,profile
0,2014941593,Driving School Stories of Celebrity Teens,Live camera installed inside an actual driving...,120000,26.0,failed,driving-school-stories-of-celebrity-teens,US,$,True,...,26.0,26.0,1.000000,1.000000,USD,international,"{'id': 1097743720, 'name': 'Kamran Rafizadeh F...","{'id': 2363796, 'name': 'Beverly Hills', 'slug...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4465571, 'project_id': 4465571, 'state'..."
1,1932477189,Crime Squad 3D Blu-ray - REMASTER3D!,Crime Squad 3D in Superstereovision! Remastere...,2000,2541.0,live,crime-squad-3d-blu-ray,GB,£,False,...,3082.93718733,3137.0,1.234778,1.234778,USD,international,"{'id': 115821324, 'name': 'Andrew Murchie', 's...","{'id': 19344, 'name': 'Edinburgh', 'slug': 'ed...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4516474, 'project_id': 4516474, 'state'..."
2,1127603300,Help Us Get To Los Angeles!,"As winners of the 48-Hour Film Project, we hop...",16000,106.0,live,help-subharmonic-city-get-to-hollywood,US,$,True,...,106.0,106.0,1.000000,1.000000,USD,international,"{'id': 475346952, 'name': 'Subharmonic City Pr...","{'id': 2397816, 'name': 'El Paso', 'slug': 'el...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4518603, 'project_id': 4518603, 'state'..."
3,640015337,SECRET,A Superhero Comedy,50000,501.0,live,secret-0,US,$,True,...,501.0,501.0,1.000000,1.000000,USD,international,"{'id': 66032665, 'name': 'Brian Cutter', 'slug...","{'id': 2416847, 'name': 'Hampton', 'slug': 'ha...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4521089, 'project_id': 4521089, 'state'..."
4,233782977,PINK (Short Film),A neurotic actress falls into crisis at her bi...,2000,1176.0,live,pink-short-film,US,$,True,...,1176.0,1176.0,1.000000,1.000000,USD,international,"{'id': 1827951120, 'name': 'Jackson Cook', 'sl...","{'id': 2379574, 'name': 'Chicago', 'slug': 'ch...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4519929, 'project_id': 4519929, 'state'..."

In [256]:
#only keeping the name of the city in the location
training_df["location"] = [training_df["location"][k]["name"] if type(training_df["location"][k]) is dict else 'nan' for k in range(len(training_df)) ]
training_df.head(5)

,id,name,blurb,goal,pledged,state,slug,country,currency_symbol,currency_trailing_code,...,usd_pledged,converted_pledged_amount,fx_rate,usd_exchange_rate,current_currency,usd_type,creator,location,category,profile
0,2014941593,Driving School Stories of Celebrity Teens,Live camera installed inside an actual driving...,120000,26.0,failed,driving-school-stories-of-celebrity-teens,US,$,True,...,26.0,26.0,1.000000,1.000000,USD,international,"{'id': 1097743720, 'name': 'Kamran Rafizadeh F...",Beverly Hills,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4465571, 'project_id': 4465571, 'state'..."
1,1932477189,Crime Squad 3D Blu-ray - REMASTER3D!,Crime Squad 3D in Superstereovision! Remastere...,2000,2541.0,live,crime-squad-3d-blu-ray,GB,£,False,...,3082.93718733,3137.0,1.234778,1.234778,USD,international,"{'id': 115821324, 'name': 'Andrew Murchie', 's...",Edinburgh,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4516474, 'project_id': 4516474, 'state'..."
2,1127603300,Help Us Get To Los Angeles!,"As winners of the 48-Hour Film Project, we hop...",16000,106.0,live,help-subharmonic-city-get-to-hollywood,US,$,True,...,106.0,106.0,1.000000,1.000000,USD,international,"{'id': 475346952, 'name': 'Subharmonic City Pr...",El Paso,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4518603, 'project_id': 4518603, 'state'..."
3,640015337,SECRET,A Superhero Comedy,50000,501.0,live,secret-0,US,$,True,...,501.0,501.0,1.000000,1.000000,USD,international,"{'id': 66032665, 'name': 'Brian Cutter', 'slug...",Hampton,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4521089, 'project_id': 4521089, 'state'..."
4,233782977,PINK (Short Film),A neurotic actress falls into crisis at her bi...,2000,1176.0,live,pink-short-film,US,$,True,...,1176.0,1176.0,1.000000,1.000000,USD,international,"{'id': 1827951120, 'name': 'Jackson Cook', 'sl...",Chicago,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4519929, 'project_id': 4519929, 'state'..."

In [257]:
import json

# convert the 'profile' column to a string representation of the dictionary
training_df['profile_str'] = training_df['profile'].apply(json.dumps)

# group the dataframe by the creator id and get all the project ids associated with them
previous_launchers = training_df.groupby('profile_str')['id'].apply(list)

# create a dictionary to map project ids to creator ids
project_to_creator = training_df.set_index('id')['profile'].apply(lambda x: x['id']).to_dict()

# create a new column that checks if the creator has launched any other projects
training_df['previous_launcher'] = training_df['id'].apply(lambda x: True if project_to_creator[x] in previous_launchers.values else False)

# drop the temporary 'profile_str' column
training_df = training_df.drop('profile_str', axis=1)

In [258]:
training_df["creator"][0]

{'id': 1097743720,
 'name': 'Kamran Rafizadeh Ford',
 'is_registered': None,
 'is_email_verified': None,
 'chosen_currency': None,
 'is_superbacker': None,
 'avatar': {'thumb': 'https://ksr-ugc.imgix.net/assets/038/408/529/23acdbc7721f02dd0bcf7b37b0097774_original.jpg?ixlib=rb-4.0.2&w=40&h=40&fit=crop&v=1661626266&auto=format&frame=1&q=92&s=19aff20078bdd94e2b86be2d1d7ff47b',
  'small': 'https://ksr-ugc.imgix.net/assets/038/408/529/23acdbc7721f02dd0bcf7b37b0097774_original.jpg?ixlib=rb-4.0.2&w=80&h=80&fit=crop&v=1661626266&auto=format&frame=1&q=92&s=3695cd52b441223414a2244976e991a7',
  'medium': 'https://ksr-ugc.imgix.net/assets/038/408/529/23acdbc7721f02dd0bcf7b37b0097774_original.jpg?ixlib=rb-4.0.2&w=160&h=160&fit=crop&v=1661626266&auto=format&frame=1&q=92&s=a41a7bcd1de8422fa77da0e86802878d'},
 'urls': {'web': {'user': 'https://www.kickstarter.com/profile/1097743720'},
  'api': {'user': 'https://api.kickstarter.com/v1/users/1097743720?signature=1671160818.65e537e0b50125612280cc2d011ad950f163b28b'}}}

In [259]:
# extract 'name' and 'is_superbacker' from the 'creator' column
training_df['is_superbacker'] = training_df['creator'].apply(lambda x: x.get('is_superbacker'))
training_df['creator'] = training_df['creator'].apply(lambda x: x.get('name'))

In [260]:
training_df['pledge_per_backer'] = np.where(training_df['backers_count'] == 0, 0, training_df['pledged'] / training_df['backers_count'])
training_df = training_df.drop(['pledged', 'backers_count', 'currency_trailing_code'], axis=1)

In [261]:
training_df = training_df.drop([ 'is_starrable'], axis=1)

In [262]:
training_df = training_df.drop([ 'fx_rate'], axis=1)

In [263]:
#convert the goal to USD
training_df['goal_usd'] = training_df['goal'] * training_df['static_usd_rate']
training_df['goal_usd'] = training_df['goal_usd'].astype(float)
training_df['usd_pledged'] = training_df['usd_pledged'].astype(float)

In [264]:
#percentage of success of the campaign
training_df['percentage of success'] = (training_df['usd_pledged'] / training_df['goal_usd']) * 100

In [265]:
training_df['original_currency'] = training_df['currency_symbol']
training_df = training_df.drop(['currency_symbol'], axis = 1)

In [266]:
training_df.head()

,id,name,blurb,goal,state,slug,country,deadline,state_changed_at,created_at,...,creator,location,category,profile,previous_launcher,is_superbacker,pledge_per_backer,goal_usd,percentage of success,original_currency
0,2014941593,Driving School Stories of Celebrity Teens,Live camera installed inside an actual driving...,120000,failed,driving-school-stories-of-celebrity-teens,US,1671048120,1671048122,1661625074,...,Kamran Rafizadeh Ford,Beverly Hills,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4465571, 'project_id': 4465571, 'state'...",False,None,13.000000,120000.00000,0.021667,$
1,1932477189,Crime Squad 3D Blu-ray - REMASTER3D!,Crime Squad 3D in Superstereovision! Remastere...,2000,live,crime-squad-3d-blu-ray,GB,1673087556,1670495559,1669548519,...,Andrew Murchie,Edinburgh,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4516474, 'project_id': 4516474, 'state'...",False,None,43.810345,2426.55426,127.050000,£
2,1127603300,Help Us Get To Los Angeles!,"As winners of the 48-Hour Film Project, we hop...",16000,live,help-subharmonic-city-get-to-hollywood,US,1675634857,1670450860,1669840906,...,Subharmonic City Productions,El Paso,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4518603, 'project_id': 4518603, 'state'...",False,None,21.200000,16000.00000,0.662500,$
3,640015337,SECRET,A Superhero Comedy,50000,live,secret-0,US,1675519162,1670335164,1670252610,...,Brian Cutter,Hampton,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4521089, 'project_id': 4521089, 'state'...",False,None,250.500000,50000.00000,1.002000,$
4,233782977,PINK (Short Film),A neurotic actress falls into crisis at her bi...,2000,live,pink-short-film,US,1672725540,1670035783,1670028130,...,Jackson Cook,Chicago,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4519929, 'project_id': 4519929, 'state'...",False,None,106.909091,2000.00000,58.800000,$

In [267]:
training_df.columns

Index(['id', 'name', 'blurb', 'goal', 'state', 'slug', 'country', 'deadline',
       'state_changed_at', 'created_at', 'launched_at', 'staff_pick',
       'static_usd_rate', 'usd_pledged', 'converted_pledged_amount',
       'usd_exchange_rate', 'current_currency', 'usd_type', 'creator',
       'location', 'category', 'profile', 'previous_launcher',
       'is_superbacker', 'pledge_per_backer', 'goal_usd',
       'percentage of success', 'original_currency'],
      dtype='object')

In [268]:
training_df = training_df.drop([ 'profile', 'state_changed_at', 'static_usd_rate', 'converted_pledged_amount', 'usd_exchange_rate', 'current_currency', 'usd_type'], axis=1)

In [269]:
# extract 'slug' and 'color' from category and create new columns
training_df['campaign_color'] = training_df['category'].apply(lambda x: x['color'])
training_df['category'] = training_df['category'].apply(lambda x: x['slug'])

In [270]:
training_df.columns

Index(['id', 'name', 'blurb', 'goal', 'state', 'slug', 'country', 'deadline',
       'created_at', 'launched_at', 'staff_pick', 'usd_pledged', 'creator',
       'location', 'category', 'previous_launcher', 'is_superbacker',
       'pledge_per_backer', 'goal_usd', 'percentage of success',
       'original_currency', 'campaign_color'],
      dtype='object')

In [271]:
# perform lemmatization, stemming, remove_stopwords, tokenization on the texts remaining
# gather all the texts in one column ({location: 'Paris' , category: 'comedy'} become {text: 'location_Paris, category_comedy'} for example)
# fit a classification model on the resulting dataset

### Changing to lowercase, remove punctuation, digits, make slug nicer, etc

In [272]:
training_df['slug'] = training_df['slug'].apply(lambda x: x.replace("-", " " ))

In [273]:
training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']] = training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']].applymap(str.lower)

In [274]:
#Remove Punctations 
from string import punctuation

#You can get this function from our discussion session code. However, we leave it as a blank for a practice.
def remove_punctuation(document):

    no_punct = ''.join([character for character in document if character not in punctuation])
    
    return no_punct

training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']] = training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']].applymap(remove_punctuation)

#Remove Digits 

def remove_digit(document): 
    
    no_digit = ''.join([character for character in document if not character.isdigit()])
              
    return no_digit

training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']] = training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']].applymap(remove_digit)

### Tokenization, remove stopwords and combine into one text column

In [275]:
#Tokenize

from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')
training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']] = training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']].applymap(word_tokenize)

#Remove Stopwords

from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

def remove_stopwords(document):
    
    words = [word for word in document if not word in stop_words]
    
    return words

training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']] = training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']].applymap(remove_stopwords)

#We use porter stemming 

from nltk.stem import PorterStemmer

porter = PorterStemmer()

def stemmer(document):
    
    stemmed_document = [porter.stem(word) for word in document]
    
    return stemmed_document

training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']]= training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']].applymap(stemmer)

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/ghitaalami/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ghitaalami/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [276]:
training_df.head(5)

,id,name,blurb,goal,state,slug,country,deadline,created_at,launched_at,...,creator,location,category,previous_launcher,is_superbacker,pledge_per_backer,goal_usd,percentage of success,original_currency,campaign_color
0,2014941593,"[drive, school, stori, celebr, teen]","[live, camera, instal, insid, actual, drive, s...",120000,failed,"[drive, school, stori, celebr, teen]",[us],1671048120,1661625074,1670554364,...,"[kamran, rafizadeh, ford]","[beverli, hill]","[film, videocomedi]",False,None,13.000000,120000.00000,0.021667,$,16734574
1,1932477189,"[crime, squad, bluray, remasterd]","[crime, squad, superstereovis, remast, origin,...",2000,live,"[crime, squad, blu, ray]",[gb],1673087556,1669548519,1670495556,...,"[andrew, murchi]",[edinburgh],"[film, videocomedi]",False,None,43.810345,2426.55426,127.050000,£,16734574
2,1127603300,"[help, us, get, lo, angel]","[winner, hour, film, project, hope, head, film...",16000,live,"[help, subharmon, citi, get, hollywood]",[us],1675634857,1669840906,1670450857,...,"[subharmon, citi, product]","[el, paso]","[film, videocomedi]",False,None,21.200000,16000.00000,0.662500,$,16734574
3,640015337,[secret],"[superhero, comedi]",50000,live,[secret],[us],1675519162,1670252610,1670335162,...,"[brian, cutter]",[hampton],"[film, videocomedi]",False,None,250.500000,50000.00000,1.002000,$,16734574
4,233782977,"[pink, short, film]","[neurot, actress, fall, crisi, big, audit, rea...",2000,live,"[pink, short, film]",[us],1672725540,1670028130,1670035781,...,"[jackson, cook]",[chicago],"[film, videocomedi]",False,None,106.909091,2000.00000,58.800000,$,16734574

In [277]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

#process the location into onel single string
training_df["location"]= training_df["location"].apply(lambda x : str(''.join(x)))
training_df["original_currency"] = training_df["original_currency"].apply(lambda x : str(x))

#propress the list features into string
training_df['country'] = training_df['country'].apply(lambda x: str(x))
training_df['category'] = training_df['category'].apply(lambda x: str(x))

# Encode the categorical features as integers
le = LabelEncoder()
training_df['state'] = le.fit_transform(training_df['state'])
training_df['country'] = le.fit_transform(training_df['country'])
training_df['category'] = le.fit_transform(training_df['category'])
training_df["location"] = le.fit_transform(training_df["location"])
training_df["original_currency"] = le.fit_transform(training_df["original_currency"])

In [278]:
training_df.head()

,id,name,blurb,goal,state,slug,country,deadline,created_at,launched_at,...,creator,location,category,previous_launcher,is_superbacker,pledge_per_backer,goal_usd,percentage of success,original_currency,campaign_color
0,2014941593,"[drive, school, stori, celebr, teen]","[live, camera, instal, insid, actual, drive, s...",120000,1,"[drive, school, stori, celebr, teen]",20,1671048120,1661625074,1670554364,...,"[kamran, rafizadeh, ford]",146,10,False,None,13.000000,120000.00000,0.021667,0,16734574
1,1932477189,"[crime, squad, bluray, remasterd]","[crime, squad, superstereovis, remast, origin,...",2000,2,"[crime, squad, blu, ray]",7,1673087556,1669548519,1670495556,...,"[andrew, murchi]",449,10,False,None,43.810345,2426.55426,127.050000,4,16734574
2,1127603300,"[help, us, get, lo, angel]","[winner, hour, film, project, hope, head, film...",16000,2,"[help, subharmon, citi, get, hollywood]",20,1675634857,1669840906,1670450857,...,"[subharmon, citi, product]",467,10,False,None,21.200000,16000.00000,0.662500,0,16734574
3,640015337,[secret],"[superhero, comedi]",50000,2,[secret],20,1675519162,1670252610,1670335162,...,"[brian, cutter]",672,10,False,None,250.500000,50000.00000,1.002000,0,16734574
4,233782977,"[pink, short, film]","[neurot, actress, fall, crisi, big, audit, rea...",2000,2,"[pink, short, film]",20,1672725540,1670028130,1670035781,...,"[jackson, cook]",294,10,False,None,106.909091,2000.00000,58.800000,0,16734574

In [279]:
import gensim

# Create the Word2Vec model
model = gensim.models.Word2Vec(sentences=training_df['name'], vector_size=100, min_count=1)

In [280]:
# Function to convert a list of words to a vector
def get_word_vectors(words):
    vectors = []
    for word in words:
        if word in model.wv:
            vectors.append(model.wv[word])
    if vectors:
        return np.mean(vectors, axis=0)
    else:
        return np.zeros(100)

In [281]:
# Apply the function to the 'name' column to get the embeddings
training_df['name_embeddings'] = training_df['name'].apply(get_word_vectors)

In [282]:
# Apply the function to other columns to get the embeddings
training_df['blurb_embeddings'] = training_df['blurb'].apply(get_word_vectors)
training_df['slug_embeddings'] = training_df['slug'].apply(get_word_vectors)
training_df['creator_embeddings'] = training_df['creator'].apply(get_word_vectors)

In [283]:
training_df.head()

,id,name,blurb,goal,state,slug,country,deadline,created_at,launched_at,...,is_superbacker,pledge_per_backer,goal_usd,percentage of success,original_currency,campaign_color,name_embeddings,blurb_embeddings,slug_embeddings,creator_embeddings
0,2014941593,"[drive, school, stori, celebr, teen]","[live, camera, instal, insid, actual, drive, s...",120000,1,"[drive, school, stori, celebr, teen]",20,1671048120,1661625074,1670554364,...,None,13.000000,120000.00000,0.021667,0,16734574,"[-0.005209384, 0.0029602186, 0.0017434999, -0....","[-0.0017968448, 0.0022683386, -0.001384681, 0....","[-0.005209384, 0.0029602186, 0.0017434999, -0....","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,1932477189,"[crime, squad, bluray, remasterd]","[crime, squad, superstereovis, remast, origin,...",2000,2,"[crime, squad, blu, ray]",7,1673087556,1669548519,1670495556,...,None,43.810345,2426.55426,127.050000,4,16734574,"[-0.0012261518, -0.001055774, 0.0017410866, -1...","[-0.0027057312, 0.0030433696, 0.0038590594, 0....","[0.0055362396, 0.00084783125, 0.0016715701, -2...","[-0.005290937, 0.008542952, 0.008453469, 0.003..."
2,1127603300,"[help, us, get, lo, angel]","[winner, hour, film, project, hope, head, film...",16000,2,"[help, subharmon, citi, get, hollywood]",20,1675634857,1669840906,1670450857,...,None,21.200000,16000.00000,0.662500,0,16734574,"[-0.0041704704, 0.0040100617, -0.00022574421, ...","[-0.0021575221, 0.0012006925, 0.009566767, -0....","[-0.0067672986, 0.0042174407, 0.0035475583, -0...","[0.0016339119, 0.010678566, 0.005025393, 0.001..."
3,640015337,[secret],"[superhero, comedi]",50000,2,[secret],20,1675519162,1670252610,1670335162,...,None,250.500000,50000.00000,1.002000,0,16734574,"[0.005705234, 0.010789415, 0.0039766226, 0.007...","[0.009478839, 0.00619867, 0.010109441, 0.00326...","[0.005705234, 0.010789415, 0.0039766226, 0.007...","[-0.00060286745, -0.001385672, 0.004434909, 0...."
4,233782977,"[pink, short, film]","[neurot, actress, fall, crisi, big, audit, rea...",2000,2,"[pink, short, film]",20,1672725540,1670028130,1670035781,...,None,106.909091,2000.00000,58.800000,0,16734574,"[0.007821641, -0.00623888, 0.0082419785, 0.003...","[-0.0004941897, -0.0014908932, 0.0015776436, 0...","[0.007821641, -0.00623888, 0.0082419785, 0.003...","[0.001958534, 0.006729219, 0.011377033, 0.0075..."

In [284]:
#dropping columns, from now on everything is numerical 
training_df = training_df.drop(['name','blurb','slug', 'country', 'creator'], axis = 1)

In [286]:
training_df.columns

Index(['id', 'goal', 'state', 'deadline', 'created_at', 'launched_at',
       'staff_pick', 'usd_pledged', 'location', 'category',
       'previous_launcher', 'is_superbacker', 'pledge_per_backer', 'goal_usd',
       'percentage of success', 'original_currency', 'campaign_color',
       'name_embeddings', 'blurb_embeddings', 'slug_embeddings',
       'creator_embeddings'],
      dtype='object')

In [288]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X = training_df[['goal', 'staff_pick', 'usd_pledged', 'previous_launcher', 'is_superbacker', 'pledge_per_backer', 'goal_usd', 'percentage of success', 'name_embeddings', 'blurb_embeddings', 'slug_embeddings', 'creator_embeddings']]
y = training_df['state']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the decision tree classifier
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

# Evaluate the performance of the classifier on the testing set
accuracy = clf.score(X_test, y_test)
print(f"Accuracy: {accuracy:.4f}")

#apparently the problem is that the embeddings don't have the same size, so either we use an aggregation function
# or we change the encoding... or something else

ValueError: setting an array element with a sequence.