In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
import sys
import nltk

In [3]:
#loading the data
train_dataset = pd.read_json("Kickstarter_2022-12-15T03_20_04_521Z.json", lines=True)
actual_data = [train_dataset["data"][k] for k in range(len(train_dataset))]
train_dataset.head()

,table_id,robot_id,run_id,data
0,Kickstarter,Kickstarter,Kickstarter_2022-12-15T03_20_04_521Z,"{'id': 2014941593, 'photo': {'key': 'assets/03..."
1,Kickstarter,Kickstarter,Kickstarter_2022-12-15T03_20_04_521Z,"{'id': 1932477189, 'photo': {'key': 'assets/03..."
2,Kickstarter,Kickstarter,Kickstarter_2022-12-15T03_20_04_521Z,"{'id': 1127603300, 'photo': {'key': 'assets/03..."
3,Kickstarter,Kickstarter,Kickstarter_2022-12-15T03_20_04_521Z,"{'id': 640015337, 'photo': {'key': 'assets/039..."
4,Kickstarter,Kickstarter,Kickstarter_2022-12-15T03_20_04_521Z,"{'id': 233782977, 'photo': {'key': 'assets/039..."

In [4]:
#creating the dataset
train_data = pd.DataFrame(actual_data)
train_data.head()

,id,photo,name,blurb,goal,pledged,state,slug,disable_communication,country,...,location,category,profile,spotlight,urls,source_url,friends,is_starred,is_backing,permissions
0,2014941593,{'key': 'assets/038/408/400/93382a88c9dbc1af95...,Driving School Stories of Celebrity Teens,Live camera installed inside an actual driving...,120000,26.0,failed,driving-school-stories-of-celebrity-teens,False,US,...,"{'id': 2363796, 'name': 'Beverly Hills', 'slug...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4465571, 'project_id': 4465571, 'state'...",False,{'web': {'project': 'https://www.kickstarter.c...,https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
1,1932477189,{'key': 'assets/039/331/847/6e37eed9904bea5a61...,Crime Squad 3D Blu-ray - REMASTER3D!,Crime Squad 3D in Superstereovision! Remastere...,2000,2541.0,live,crime-squad-3d-blu-ray,False,GB,...,"{'id': 19344, 'name': 'Edinburgh', 'slug': 'ed...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4516474, 'project_id': 4516474, 'state'...",False,{'web': {'project': 'https://www.kickstarter.c...,https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
2,1127603300,{'key': 'assets/039/363/407/a22ed33f3e39868214...,Help Us Get To Los Angeles!,"As winners of the 48-Hour Film Project, we hop...",16000,106.0,live,help-subharmonic-city-get-to-hollywood,False,US,...,"{'id': 2397816, 'name': 'El Paso', 'slug': 'el...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4518603, 'project_id': 4518603, 'state'...",False,{'web': {'project': 'https://www.kickstarter.c...,https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
3,640015337,{'key': 'assets/039/441/179/34d28696f4d6b0e43c...,SECRET,A Superhero Comedy,50000,501.0,live,secret-0,False,US,...,"{'id': 2416847, 'name': 'Hampton', 'slug': 'ha...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4521089, 'project_id': 4521089, 'state'...",False,{'web': {'project': 'https://www.kickstarter.c...,https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN
4,233782977,{'key': 'assets/039/379/732/36d936f41c46751a38...,PINK (Short Film),A neurotic actress falls into crisis at her bi...,2000,1176.0,live,pink-short-film,False,US,...,"{'id': 2379574, 'name': 'Chicago', 'slug': 'ch...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4519929, 'project_id': 4519929, 'state'...",False,{'web': {'project': 'https://www.kickstarter.c...,https://www.kickstarter.com/discover/categorie...,NaN,NaN,NaN,NaN

In [5]:
#exploring some of the features
print("The features of this dataset are: ", train_data.keys())
print(" \n \n blurb: ", train_data["blurb"][0], "\n \n ", "location: ", train_data["location"][0], "\n \n ", "category: ", train_data["category"][0], "\n \n ", "profile: ", train_data["profile"][0])

The features of this dataset are:  Index(['id', 'photo', 'name', 'blurb', 'goal', 'pledged', 'state', 'slug',
       'disable_communication', 'country', 'country_displayable_name',
       'currency', 'currency_symbol', 'currency_trailing_code', 'deadline',
       'state_changed_at', 'created_at', 'launched_at', 'staff_pick',
       'is_starrable', 'backers_count', 'static_usd_rate', 'usd_pledged',
       'converted_pledged_amount', 'fx_rate', 'usd_exchange_rate',
       'current_currency', 'usd_type', 'creator', 'location', 'category',
       'profile', 'spotlight', 'urls', 'source_url', 'friends', 'is_starred',
       'is_backing', 'permissions'],
      dtype='object')


 blurb:  Live camera installed inside an actual driving school

  location:  {'id': 2363796, 'name': 'Beverly Hills', 'slug': 'beverly-hills-ca', 'short_name': 'Beverly Hills, CA', 'displayable_name': 'Beverly Hills, CA', 'localized_name': 'Beverly Hills', 'country': 'US', 'state': 'CA', 'type': 'Town', 'is_root': False, 'expanded_country': 'United States', 'urls': {'web': {'discover': 'https://www.kickstarter.com/discover/places/beverly-hills-ca', 'location': 'https://www.kickstarter.com/locations/beverly-hills-ca'}, 'api': {'nearby_projects': 'https://api.kickstarter.com/v1/discover?signature=1671131424.7dadba4f2fadc4b0b45e3bfce93a67975f2789a9&woe_id=2363796'}}}

  category:  {'id': 292, 'name': 'Comedy', 'analytics_name': 'Comedy', 'slug': 'film & video/comedy', 'position': 3, 'parent_id': 11, 'parent_name': 'Film & Video', 'color': 16734574, 'urls': {'web': {'discover': 'http://www.kickstarter.com/discover/categories/film%20&%20video/comedy'}}}

  profile:  {'id': 4465571, 'project_id': 4465571, 'state': 'inactive', 'state_changed_at': 1661625074, 'name': None, 'blurb': None, 'background_color': None, 'text_color': None, 'link_background_color': None, 'link_text_color': None, 'link_text': None, 'link_url': None, 'show_feature_image': False, 'background_image_opacity': 0.8, 'should_show_feature_image_section': True, 'feature_image_attributes': {'image_urls': {'default': 'https://ksr-ugc.imgix.net/assets/038/408/400/93382a88c9dbc1af95992c496abd38e7_original.jpeg?ixlib=rb-4.0.2&crop=faces&w=1552&h=873&fit=crop&v=1661625239&auto=format&frame=1&q=92&s=04b08346a71d90b32a7cbb28be0972c2', 'baseball_card': 'https://ksr-ugc.imgix.net/assets/038/408/400/93382a88c9dbc1af95992c496abd38e7_original.jpeg?ixlib=rb-4.0.2&crop=faces&w=560&h=315&fit=crop&v=1661625239&auto=format&frame=1&q=92&s=c8db7a1b2282afbd6c85813346d69682'}}}

In [6]:
#writing a function to create the final dataset
def clean_concat(list_of_datasets):
    data_frames=[]
    for dataset in list_of_datasets:
        dataset = pd.read_json(dataset, lines=True)
        actual_data = [dataset["data"][k] for k in range(len(dataset))]
        data_frames.append(pd.DataFrame(actual_data))
    final_dataset = pd.concat([data for data in data_frames])
    return(final_dataset)

In [7]:
# concatenating creates problems with the indexes 
#training_df = clean_concat(["/Users/ghitaalami/Coding Projects/Berkeley Projects/ML-and-Data-Analytics/Project/Kickstarter_2022-12-15T03_20_04_521Z.json", "/Users/ghitaalami/Coding Projects/Berkeley Projects/ML-and-Data-Analytics/Project/Kickstarter_2023-01-05T03_20_04_136Z.json"])

In [8]:
training_df = train_data

In [9]:
#let's decide which columns should be dropped
training_df["photo"][0] #should probably be dropped for now
training_df["state"][0] #our label 
training_df["urls"][0] #should probably be dropped 
training_df["currency"][10] #should be dropped because "currency_symbol" contains the same information
training_df["source_url"][200] #should probably be dropped for now 
training_df["friends"][1600] #should check if only contains NaNs
training_df["permissions"][1000] #should check if only contains NaNs

nan

In [10]:
#modify the clean_concat function to drop some columns
def clean_concat_drop(list_of_datasets, list_of_columns):
    data_frames=[]
    for dataset in list_of_datasets:
        dataset = pd.read_json(dataset, lines=True)
        actual_data = [dataset["data"][k] for k in range(len(dataset))]
        data_frames.append(pd.DataFrame(actual_data))
    final_dataset = pd.concat([data for data in data_frames])
    final_dataset = final_dataset.drop(list_of_columns)
    return(final_dataset)

In [11]:
#dropping some useless features for now
training_df = training_df.drop(["photo", "urls", "currency", "source_url" ], axis=1)

In [12]:
training_df["profile"][0]

{'id': 4465571,
 'project_id': 4465571,
 'state': 'inactive',
 'state_changed_at': 1661625074,
 'name': None,
 'blurb': None,
 'background_color': None,
 'text_color': None,
 'link_background_color': None,
 'link_text_color': None,
 'link_text': None,
 'link_url': None,
 'show_feature_image': False,
 'background_image_opacity': 0.8,
 'should_show_feature_image_section': True,
 'feature_image_attributes': {'image_urls': {'default': 'https://ksr-ugc.imgix.net/assets/038/408/400/93382a88c9dbc1af95992c496abd38e7_original.jpeg?ixlib=rb-4.0.2&crop=faces&w=1552&h=873&fit=crop&v=1661625239&auto=format&frame=1&q=92&s=04b08346a71d90b32a7cbb28be0972c2',
   'baseball_card': 'https://ksr-ugc.imgix.net/assets/038/408/400/93382a88c9dbc1af95992c496abd38e7_original.jpeg?ixlib=rb-4.0.2&crop=faces&w=560&h=315&fit=crop&v=1661625239&auto=format&frame=1&q=92&s=c8db7a1b2282afbd6c85813346d69682'}}}

In [13]:
#Let's try a first model with less features
training_df = training_df.drop("country_displayable_name", axis=1)
training_df = training_df.drop(["is_backing", "is_starred", "spotlight", "friends", "permissions", "disable_communication"], axis=1)

In [14]:
training_df.head(5)

,id,name,blurb,goal,pledged,state,slug,country,currency_symbol,currency_trailing_code,...,usd_pledged,converted_pledged_amount,fx_rate,usd_exchange_rate,current_currency,usd_type,creator,location,category,profile
0,2014941593,Driving School Stories of Celebrity Teens,Live camera installed inside an actual driving...,120000,26.0,failed,driving-school-stories-of-celebrity-teens,US,$,True,...,26.0,26.0,1.000000,1.000000,USD,international,"{'id': 1097743720, 'name': 'Kamran Rafizadeh F...","{'id': 2363796, 'name': 'Beverly Hills', 'slug...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4465571, 'project_id': 4465571, 'state'..."
1,1932477189,Crime Squad 3D Blu-ray - REMASTER3D!,Crime Squad 3D in Superstereovision! Remastere...,2000,2541.0,live,crime-squad-3d-blu-ray,GB,£,False,...,3082.93718733,3137.0,1.234778,1.234778,USD,international,"{'id': 115821324, 'name': 'Andrew Murchie', 's...","{'id': 19344, 'name': 'Edinburgh', 'slug': 'ed...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4516474, 'project_id': 4516474, 'state'..."
2,1127603300,Help Us Get To Los Angeles!,"As winners of the 48-Hour Film Project, we hop...",16000,106.0,live,help-subharmonic-city-get-to-hollywood,US,$,True,...,106.0,106.0,1.000000,1.000000,USD,international,"{'id': 475346952, 'name': 'Subharmonic City Pr...","{'id': 2397816, 'name': 'El Paso', 'slug': 'el...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4518603, 'project_id': 4518603, 'state'..."
3,640015337,SECRET,A Superhero Comedy,50000,501.0,live,secret-0,US,$,True,...,501.0,501.0,1.000000,1.000000,USD,international,"{'id': 66032665, 'name': 'Brian Cutter', 'slug...","{'id': 2416847, 'name': 'Hampton', 'slug': 'ha...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4521089, 'project_id': 4521089, 'state'..."
4,233782977,PINK (Short Film),A neurotic actress falls into crisis at her bi...,2000,1176.0,live,pink-short-film,US,$,True,...,1176.0,1176.0,1.000000,1.000000,USD,international,"{'id': 1827951120, 'name': 'Jackson Cook', 'sl...","{'id': 2379574, 'name': 'Chicago', 'slug': 'ch...","{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4519929, 'project_id': 4519929, 'state'..."

In [15]:
#only keeping the name of the city in the location
training_df["location"] = [training_df["location"][k]["name"] if type(training_df["location"][k]) is dict else 'nan' for k in range(len(training_df)) ]
training_df.head(5)

,id,name,blurb,goal,pledged,state,slug,country,currency_symbol,currency_trailing_code,...,usd_pledged,converted_pledged_amount,fx_rate,usd_exchange_rate,current_currency,usd_type,creator,location,category,profile
0,2014941593,Driving School Stories of Celebrity Teens,Live camera installed inside an actual driving...,120000,26.0,failed,driving-school-stories-of-celebrity-teens,US,$,True,...,26.0,26.0,1.000000,1.000000,USD,international,"{'id': 1097743720, 'name': 'Kamran Rafizadeh F...",Beverly Hills,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4465571, 'project_id': 4465571, 'state'..."
1,1932477189,Crime Squad 3D Blu-ray - REMASTER3D!,Crime Squad 3D in Superstereovision! Remastere...,2000,2541.0,live,crime-squad-3d-blu-ray,GB,£,False,...,3082.93718733,3137.0,1.234778,1.234778,USD,international,"{'id': 115821324, 'name': 'Andrew Murchie', 's...",Edinburgh,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4516474, 'project_id': 4516474, 'state'..."
2,1127603300,Help Us Get To Los Angeles!,"As winners of the 48-Hour Film Project, we hop...",16000,106.0,live,help-subharmonic-city-get-to-hollywood,US,$,True,...,106.0,106.0,1.000000,1.000000,USD,international,"{'id': 475346952, 'name': 'Subharmonic City Pr...",El Paso,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4518603, 'project_id': 4518603, 'state'..."
3,640015337,SECRET,A Superhero Comedy,50000,501.0,live,secret-0,US,$,True,...,501.0,501.0,1.000000,1.000000,USD,international,"{'id': 66032665, 'name': 'Brian Cutter', 'slug...",Hampton,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4521089, 'project_id': 4521089, 'state'..."
4,233782977,PINK (Short Film),A neurotic actress falls into crisis at her bi...,2000,1176.0,live,pink-short-film,US,$,True,...,1176.0,1176.0,1.000000,1.000000,USD,international,"{'id': 1827951120, 'name': 'Jackson Cook', 'sl...",Chicago,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4519929, 'project_id': 4519929, 'state'..."

In [16]:
import json

# convert the 'profile' column to a string representation of the dictionary
training_df['profile_str'] = training_df['profile'].apply(json.dumps)

# group the dataframe by the creator id and get all the project ids associated with them
previous_launchers = training_df.groupby('profile_str')['id'].apply(list)

# create a dictionary to map project ids to creator ids
project_to_creator = training_df.set_index('id')['profile'].apply(lambda x: x['id']).to_dict()

# create a new column that checks if the creator has launched any other projects
training_df['previous_launcher'] = training_df['id'].apply(lambda x: True if project_to_creator[x] in previous_launchers.values else False)

# drop the temporary 'profile_str' column
training_df = training_df.drop('profile_str', axis=1)

In [17]:
training_df["creator"][0]

{'id': 1097743720,
 'name': 'Kamran Rafizadeh Ford',
 'is_registered': None,
 'is_email_verified': None,
 'chosen_currency': None,
 'is_superbacker': None,
 'avatar': {'thumb': 'https://ksr-ugc.imgix.net/assets/038/408/529/23acdbc7721f02dd0bcf7b37b0097774_original.jpg?ixlib=rb-4.0.2&w=40&h=40&fit=crop&v=1661626266&auto=format&frame=1&q=92&s=19aff20078bdd94e2b86be2d1d7ff47b',
  'small': 'https://ksr-ugc.imgix.net/assets/038/408/529/23acdbc7721f02dd0bcf7b37b0097774_original.jpg?ixlib=rb-4.0.2&w=80&h=80&fit=crop&v=1661626266&auto=format&frame=1&q=92&s=3695cd52b441223414a2244976e991a7',
  'medium': 'https://ksr-ugc.imgix.net/assets/038/408/529/23acdbc7721f02dd0bcf7b37b0097774_original.jpg?ixlib=rb-4.0.2&w=160&h=160&fit=crop&v=1661626266&auto=format&frame=1&q=92&s=a41a7bcd1de8422fa77da0e86802878d'},
 'urls': {'web': {'user': 'https://www.kickstarter.com/profile/1097743720'},
  'api': {'user': 'https://api.kickstarter.com/v1/users/1097743720?signature=1671160818.65e537e0b50125612280cc2d011ad950f163b28b'}}}

In [18]:
# extract 'name' and 'is_superbacker' from the 'creator' column
training_df['is_superbacker'] = training_df['creator'].apply(lambda x: x.get('is_superbacker'))
training_df['creator'] = training_df['creator'].apply(lambda x: x.get('name'))

In [19]:
training_df['pledge_per_backer'] = np.where(training_df['backers_count'] == 0, 0, training_df['pledged'] / training_df['backers_count'])
training_df = training_df.drop(['pledged', 'backers_count', 'currency_trailing_code'], axis=1)

In [20]:
training_df = training_df.drop([ 'is_starrable'], axis=1)

In [21]:
training_df = training_df.drop([ 'fx_rate'], axis=1)

In [22]:
#convert the goal to USD
training_df['goal_usd'] = training_df['goal'] * training_df['static_usd_rate']
training_df['goal_usd'] = training_df['goal_usd'].astype(float)
training_df['usd_pledged'] = training_df['usd_pledged'].astype(float)

In [23]:
#percentage of success of the campaign
training_df['percentage of success'] = (training_df['usd_pledged'] / training_df['goal_usd']) * 100

In [24]:
training_df['original_currency'] = training_df['currency_symbol']
training_df = training_df.drop(['currency_symbol'], axis = 1)

In [25]:
training_df.head()

,id,name,blurb,goal,state,slug,country,deadline,state_changed_at,created_at,...,creator,location,category,profile,previous_launcher,is_superbacker,pledge_per_backer,goal_usd,percentage of success,original_currency
0,2014941593,Driving School Stories of Celebrity Teens,Live camera installed inside an actual driving...,120000,failed,driving-school-stories-of-celebrity-teens,US,1671048120,1671048122,1661625074,...,Kamran Rafizadeh Ford,Beverly Hills,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4465571, 'project_id': 4465571, 'state'...",False,None,13.000000,120000.00000,0.021667,$
1,1932477189,Crime Squad 3D Blu-ray - REMASTER3D!,Crime Squad 3D in Superstereovision! Remastere...,2000,live,crime-squad-3d-blu-ray,GB,1673087556,1670495559,1669548519,...,Andrew Murchie,Edinburgh,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4516474, 'project_id': 4516474, 'state'...",False,None,43.810345,2426.55426,127.050000,£
2,1127603300,Help Us Get To Los Angeles!,"As winners of the 48-Hour Film Project, we hop...",16000,live,help-subharmonic-city-get-to-hollywood,US,1675634857,1670450860,1669840906,...,Subharmonic City Productions,El Paso,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4518603, 'project_id': 4518603, 'state'...",False,None,21.200000,16000.00000,0.662500,$
3,640015337,SECRET,A Superhero Comedy,50000,live,secret-0,US,1675519162,1670335164,1670252610,...,Brian Cutter,Hampton,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4521089, 'project_id': 4521089, 'state'...",False,None,250.500000,50000.00000,1.002000,$
4,233782977,PINK (Short Film),A neurotic actress falls into crisis at her bi...,2000,live,pink-short-film,US,1672725540,1670035783,1670028130,...,Jackson Cook,Chicago,"{'id': 292, 'name': 'Comedy', 'analytics_name'...","{'id': 4519929, 'project_id': 4519929, 'state'...",False,None,106.909091,2000.00000,58.800000,$

In [26]:
training_df.columns

Index(['id', 'name', 'blurb', 'goal', 'state', 'slug', 'country', 'deadline',
       'state_changed_at', 'created_at', 'launched_at', 'staff_pick',
       'static_usd_rate', 'usd_pledged', 'converted_pledged_amount',
       'usd_exchange_rate', 'current_currency', 'usd_type', 'creator',
       'location', 'category', 'profile', 'previous_launcher',
       'is_superbacker', 'pledge_per_backer', 'goal_usd',
       'percentage of success', 'original_currency'],
      dtype='object')

In [27]:
training_df = training_df.drop([ 'profile', 'state_changed_at', 'static_usd_rate', 'converted_pledged_amount', 'usd_exchange_rate', 'current_currency', 'usd_type'], axis=1)

In [28]:
# extract 'slug' and 'color' from category and create new columns
training_df['campaign_color'] = training_df['category'].apply(lambda x: x['color'])
training_df['category'] = training_df['category'].apply(lambda x: x['slug'])

In [29]:
training_df.columns

Index(['id', 'name', 'blurb', 'goal', 'state', 'slug', 'country', 'deadline',
       'created_at', 'launched_at', 'staff_pick', 'usd_pledged', 'creator',
       'location', 'category', 'previous_launcher', 'is_superbacker',
       'pledge_per_backer', 'goal_usd', 'percentage of success',
       'original_currency', 'campaign_color'],
      dtype='object')

In [30]:
# perform lemmatization, stemming, remove_stopwords, tokenization on the texts remaining
# gather all the texts in one column ({location: 'Paris' , category: 'comedy'} become {text: 'location_Paris, category_comedy'} for example)
# fit a classification model on the resulting dataset

### Changing to lowercase, remove punctuation, digits, make slug nicer, etc

In [31]:
training_df['slug'] = training_df['slug'].apply(lambda x: x.replace("-", " " ))

In [32]:
training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']] = training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']].applymap(str.lower)

In [33]:
#Remove Punctations 
from string import punctuation

#You can get this function from our discussion session code. However, we leave it as a blank for a practice.
def remove_punctuation(document):

    no_punct = ''.join([character for character in document if character not in punctuation])
    
    return no_punct

training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']] = training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']].applymap(remove_punctuation)

#Remove Digits 

def remove_digit(document): 
    
    no_digit = ''.join([character for character in document if not character.isdigit()])
              
    return no_digit

training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']] = training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']].applymap(remove_digit)

### Tokenization, remove stopwords and combine into one text column

In [34]:
training_zacky = training_df.copy()

In [35]:
#Tokenize

from nltk.tokenize import word_tokenize
import nltk
nltk.download('punkt')
training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']] = training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']].applymap(word_tokenize)

#Remove Stopwords

from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

def remove_stopwords(document):
    
    words = [word for word in document if not word in stop_words]
    
    return words

training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']] = training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']].applymap(remove_stopwords)

#We use porter stemming 

from nltk.stem import PorterStemmer

porter = PorterStemmer()

def stemmer(document):
    
    stemmed_document = [porter.stem(word) for word in document]
    
    return stemmed_document

training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']]= training_df[['name','blurb','slug', 'country', 'creator', 'location', 'category']].applymap(stemmer)

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/zackbrodtman/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/zackbrodtman/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [36]:
training_df.head(5)

,id,name,blurb,goal,state,slug,country,deadline,created_at,launched_at,...,creator,location,category,previous_launcher,is_superbacker,pledge_per_backer,goal_usd,percentage of success,original_currency,campaign_color
0,2014941593,"[drive, school, stori, celebr, teen]","[live, camera, instal, insid, actual, drive, s...",120000,failed,"[drive, school, stori, celebr, teen]",[us],1671048120,1661625074,1670554364,...,"[kamran, rafizadeh, ford]","[beverli, hill]","[film, videocomedi]",False,None,13.000000,120000.00000,0.021667,$,16734574
1,1932477189,"[crime, squad, bluray, remasterd]","[crime, squad, superstereovis, remast, origin,...",2000,live,"[crime, squad, blu, ray]",[gb],1673087556,1669548519,1670495556,...,"[andrew, murchi]",[edinburgh],"[film, videocomedi]",False,None,43.810345,2426.55426,127.050000,£,16734574
2,1127603300,"[help, us, get, lo, angel]","[winner, hour, film, project, hope, head, film...",16000,live,"[help, subharmon, citi, get, hollywood]",[us],1675634857,1669840906,1670450857,...,"[subharmon, citi, product]","[el, paso]","[film, videocomedi]",False,None,21.200000,16000.00000,0.662500,$,16734574
3,640015337,[secret],"[superhero, comedi]",50000,live,[secret],[us],1675519162,1670252610,1670335162,...,"[brian, cutter]",[hampton],"[film, videocomedi]",False,None,250.500000,50000.00000,1.002000,$,16734574
4,233782977,"[pink, short, film]","[neurot, actress, fall, crisi, big, audit, rea...",2000,live,"[pink, short, film]",[us],1672725540,1670028130,1670035781,...,"[jackson, cook]",[chicago],"[film, videocomedi]",False,None,106.909091,2000.00000,58.800000,$,16734574

In [37]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier

#process the location into onel single string
training_df["location"]= training_df["location"].apply(lambda x : str(''.join(x)))
training_df["original_currency"] = training_df["original_currency"].apply(lambda x : str(x))

#propress the list features into string
training_df['country'] = training_df['country'].apply(lambda x: str(x))
training_df['category'] = training_df['category'].apply(lambda x: str(x))

# Encode the categorical features as integers
le = LabelEncoder()
training_df['state'] = le.fit_transform(training_df['state'])
training_df['country'] = le.fit_transform(training_df['country'])
training_df['category'] = le.fit_transform(training_df['category'])
training_df["location"] = le.fit_transform(training_df["location"])
training_df["original_currency"] = le.fit_transform(training_df["original_currency"])

In [38]:
import gensim

# Create the Word2Vec model
model = gensim.models.Word2Vec(sentences=training_df['name'], vector_size=100, min_count=1)

In [39]:
# Function to convert a list of words to a vector
def get_word_vectors(words):
    vectors = []
    for word in words:
        if word in model.wv:
            vectors.append(model.wv[word])
    if vectors:
        return np.mean(vectors, axis=0)
    else:
        return np.zeros(100)

In [40]:
# Apply the function to the 'name' column to get the embeddings
training_df['name_embeddings'] = training_df['name'].apply(get_word_vectors)

In [41]:
# Apply the function to other columns to get the embeddings
training_df['blurb_embeddings'] = training_df['blurb'].apply(get_word_vectors)
training_df['slug_embeddings'] = training_df['slug'].apply(get_word_vectors)
training_df['creator_embeddings'] = training_df['creator'].apply(get_word_vectors)

In [42]:
training_df.head()

,id,name,blurb,goal,state,slug,country,deadline,created_at,launched_at,...,is_superbacker,pledge_per_backer,goal_usd,percentage of success,original_currency,campaign_color,name_embeddings,blurb_embeddings,slug_embeddings,creator_embeddings
0,2014941593,"[drive, school, stori, celebr, teen]","[live, camera, instal, insid, actual, drive, s...",120000,1,"[drive, school, stori, celebr, teen]",20,1671048120,1661625074,1670554364,...,None,13.000000,120000.00000,0.021667,0,16734574,"[-0.005627204, 0.0030585737, 0.001555085, -0.0...","[-0.0020427618, 0.002411047, -0.0015348627, 0....","[-0.005627204, 0.0030585737, 0.001555085, -0.0...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,1932477189,"[crime, squad, bluray, remasterd]","[crime, squad, superstereovis, remast, origin,...",2000,2,"[crime, squad, blu, ray]",7,1673087556,1669548519,1670495556,...,None,43.810345,2426.55426,127.050000,4,16734574,"[-0.0012163268, -0.0010164474, 0.001735637, 2....","[-0.0027842275, 0.0028907447, 0.0035348716, 0....","[0.005549025, 0.0008027967, 0.0016175916, -5.3...","[-0.005250117, 0.008302705, 0.00839172, 0.0034..."
2,1127603300,"[help, us, get, lo, angel]","[winner, hour, film, project, hope, head, film...",16000,2,"[help, subharmon, citi, get, hollywood]",20,1675634857,1669840906,1670450857,...,None,21.200000,16000.00000,0.662500,0,16734574,"[-0.004371755, 0.0038042148, -0.0005639399, 0....","[-0.003328437, 0.0008230853, 0.009046776, 0.00...","[-0.0066436455, 0.004106404, 0.0030657363, -0....","[0.0014588016, 0.0109953275, 0.0045282124, 0.0..."
3,640015337,[secret],"[superhero, comedi]",50000,2,[secret],20,1675519162,1670252610,1670335162,...,None,250.500000,50000.00000,1.002000,0,16734574,"[0.0061267866, 0.010766079, 0.003977058, 0.007...","[0.0077251885, 0.005995365, 0.009541047, 0.004...","[0.0061267866, 0.010766079, 0.003977058, 0.007...","[-0.00061979797, -0.0013655962, 0.0043756478, ..."
4,233782977,"[pink, short, film]","[neurot, actress, fall, crisi, big, audit, rea...",2000,2,"[pink, short, film]",20,1672725540,1670028130,1670035781,...,None,106.909091,2000.00000,58.800000,0,16734574,"[0.004931131, -0.006724874, 0.007693505, 0.004...","[-0.0005972371, -0.0015373909, 0.0014692545, 0...","[0.004931131, -0.006724874, 0.007693505, 0.004...","[0.001443234, 0.0066043464, 0.010784658, 0.007..."

In [43]:
#dropping columns, from now on everything is numerical 
training_df = training_df.drop(['name','blurb','slug', 'country', 'creator'], axis = 1)

In [44]:
training_df.columns

Index(['id', 'goal', 'state', 'deadline', 'created_at', 'launched_at',
       'staff_pick', 'usd_pledged', 'location', 'category',
       'previous_launcher', 'is_superbacker', 'pledge_per_backer', 'goal_usd',
       'percentage of success', 'original_currency', 'campaign_color',
       'name_embeddings', 'blurb_embeddings', 'slug_embeddings',
       'creator_embeddings'],
      dtype='object')

In [45]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X = training_df[['goal', 'staff_pick', 'usd_pledged', 'previous_launcher', 'is_superbacker', 'pledge_per_backer', 'goal_usd', 'percentage of success', 'name_embeddings', 'blurb_embeddings', 'slug_embeddings', 'creator_embeddings']]
y = training_df['state']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the decision tree classifier
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)

# Evaluate the performance of the classifier on the testing set
accuracy = clf.score(X_test, y_test)
print(f"Accuracy: {accuracy:.4f}")

#apparently the problem is that the embeddings don't have the same size, so either we use an aggregation function
# or we change the encoding... or something else

ValueError: setting an array element with a sequence.

---------

In [46]:
# Remove null values
pd.isnull(training_zacky).sum()
nans=np.nonzero(list(training_zacky['usd_pledged'].isnull()))[0]
training_zacky = training_zacky.drop(list(nans))

# Remove empty column
training_zacky = training_zacky.drop(['is_superbacker'], axis = 1)

# One hot encode features
#training_zacky = pd.get_dummies(training_zacky, columns=['staff_pick', 'original_currency', 'previous_launcher', 'category', 'campaign_color'])

In [47]:
# Count vectorization of text
from sklearn.feature_extraction.text import CountVectorizer

# Blurb data
corpus = training_zacky['blurb'].values

# Creating the vectorizer
vectorizer = CountVectorizer(stop_words='english')

# Converting the text to numeric data
X = vectorizer.fit_transform(corpus)

#print(vectorizer.get_feature_names())

# Preparing Data frame For machine learning
# Priority column acts as a target variable and other columns as predictors
CountVectorizedData=pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names())
CountVectorizedData['state']=training_zacky['state']
print(CountVectorizedData.shape)
CountVectorizedData.head()

/Users/zackbrodtman/miniforge3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

(7631, 17839)

,aac,aangevuld,aar,aaron,aarspi,abalone,abandon,abandoned,abandonment,abbandono,...,在家享受蔡菜館美食,忘れたくない本,忘れたくない本のほん,新しい書き味のつけペン,月雨,気軽に飾れる小さなジオラマ,現代の家族の形について考えた映画,粵語文學期刊,航空機品質の加工技術で作られた,首個為公義發聲嘅廣東話電台
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
# This is slooooowwwwwwwww

# Using Google's model
GoogleModel = gensim.models.KeyedVectors.load_word2vec_format('/Users/zackbrodtman/Downloads/GoogleNews-vectors-negative300.bin', binary=True,)

# Creating the list of words which are present in the Document term matrix
WordsVocab=CountVectorizedData.drop(['state'], axis =1).columns

# Defining a function which takes text input and returns one vector for each sentence
def FunctionText2Vec(inpTextData):
    # Converting the text to numeric data
    X = vectorizer.transform(inpTextData)
    CountVecData=pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names()).drop(['state'], axis = 1)
    
    # Creating empty dataframe to hold sentences
    W2Vec_Data=pd.DataFrame()
    
    # Looping through each row for the data
    for i in range(CountVecData.shape[0]):

        # initiating a sentence with all zeros
        Sentence = np.zeros(300)

        # Looping thru each word in the sentence and if its present in 
        # the Word2Vec model then storing its vector
        for word in WordsVocab[CountVecData.iloc[i , :]>=1]:
            #print(word)
            if word in GoogleModel.key_to_index.keys():    
                Sentence=Sentence+GoogleModel[word]
        # Appending the sentence to the dataframe
        W2Vec_Data=W2Vec_Data.append(pd.DataFrame([Sentence]))
    return(W2Vec_Data)

# Calling the function to convert all the text data to Word2Vec Vectors
W2Vec_Data=FunctionText2Vec(training_zacky['blurb'])

# Checking the new representation for sentences
W2Vec_Data.shape

(7631, 300)

In [72]:
# Adding the target variable
W2Vec_Data.reset_index(inplace=True, drop=True)
W2Vec_Data['state']=CountVectorizedData['state']

# Assigning to DataForML variable
DataForML=W2Vec_Data
DataForML.head()

,0,1,2,3,4,5,6,7,8,9,...,291,292,293,294,295,296,297,298,299,state
0,0.166504,0.119019,0.231689,0.178223,-0.550842,0.152893,0.367523,-0.458984,0.874725,0.579712,...,0.909668,-0.704468,0.386715,-0.134521,-0.204102,0.315308,-0.589417,0.194382,-0.670227,failed
1,0.241211,0.923218,0.174561,-0.087708,0.483154,0.228516,-0.113068,-0.430023,1.579834,1.529907,...,-0.645752,-0.627037,0.484436,1.033691,-0.888123,-0.705078,-1.693298,0.740723,-1.140869,live
2,-0.454559,0.260071,0.039795,0.558960,0.174438,0.204529,0.831543,-1.550049,0.247437,0.640968,...,-0.038696,-1.424927,-0.213257,0.414917,0.088135,0.061157,0.124878,0.211548,-0.388184,live
3,0.209717,-0.048523,-0.060974,0.595703,-0.285400,0.000977,0.097656,0.086243,0.377930,-0.126831,...,0.419922,-0.654297,-0.306641,-0.288086,0.186096,0.198486,-0.050293,0.173340,0.136230,live
4,-0.042480,-0.402954,-1.146729,1.243446,-0.858521,0.086670,0.782227,-1.895996,0.646759,0.987320,...,0.875488,-1.623657,-0.571350,-1.118866,0.923584,0.297821,0.496216,1.229492,1.170776,live

In [155]:
# Separate Target Variable and Predictor Variables
TargetVariable=DataForML.columns[-1]
Predictors=DataForML.columns[:-1]

X=DataForML[Predictors].values
y=DataForML[TargetVariable].values

# for some reason some of the states are now null...
idx_list = np.argwhere(pd.isnull(y))
y = pd.DataFrame([ele for idx, ele in enumerate(y) if idx not in idx_list])[0].values
X = pd.DataFrame(X)
X = X.drop(list(pd.DataFrame(idx_list)[0]), axis = 0).values

# Split the data into training and testing set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=428)

# Sanity check for the sampled data
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(5090, 300)
(5090,)
(2182, 300)
(2182,)

In [157]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
# choose parameter Penalty='l1' or C=1
# choose different values for solver 'newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'
clf = LogisticRegression(C=10,penalty='l2', solver='newton-cg')

# Printing all the parameters of logistic regression
# print(clf)

# Creating the model on Training Data
LOG=clf.fit(X_train,y_train)

# Generating predictions on testing data
prediction=LOG.predict(X_test)
# Printing sample values of prediction in Testing data
TestingData=pd.DataFrame(data=X_test, columns=Predictors)
TestingData['Survived']=y_test
TestingData['Predicted_Survived']=prediction
print(TestingData.head())


# Measuring accuracy on Testing Data
from sklearn import metrics
print(metrics.classification_report(y_test, prediction))
print(metrics.confusion_matrix(prediction, y_test))

## Printing the Overall Accuracy of the model
F1_Score=metrics.f1_score(y_test, prediction, average='weighted')
print('Accuracy of the model on Testing Sample Data:', round(F1_Score,2))

## Importing cross validation function from sklearn
#from sklearn.model_selection import cross_val_score

## Running 10-Fold Cross validation on a given algorithm
## Passing full data X and y because the K-fold will split the data and automatically choose train/test
#Accuracy_Values=cross_val_score(LOG, X , y, cv=10, scoring='f1_weighted')
#print('\nAccuracy values for 10-fold Cross Validation:\n',Accuracy_Values)
#print('\nFinal Average Accuracy of the model:', round(Accuracy_Values.mean(),2))

          0         1         2         3         4         5         6  \
0  0.401489  0.251831 -0.275879  0.209167 -0.026367 -0.133667  0.178345
1  0.835815 -0.502563  0.105469  0.909760  0.839478 -0.569580 -0.386108
2  0.430786  0.342407 -0.440674  0.156250  0.045532 -0.493164  0.259277
3  0.992065  1.192871  1.100372  1.493408 -1.086304  0.378672  0.898514
4  0.077209  0.542694  0.382019  0.082214 -1.254303 -0.619629 -0.624756

          7         8         9  ...       292       293       294       295  \
0 -0.568573  1.084229  0.257080  ... -1.163208  0.000034 -0.347900 -0.334473
1 -0.606445  1.498535  0.801147  ... -0.852539 -0.189087  0.062523 -0.002930
2 -0.617447  0.669678  0.673065  ... -0.797729  0.150146 -0.530273 -0.612762
3 -0.421875  0.113770  0.690613  ... -2.368103  0.720459 -0.705231  0.135010
4 -0.967041 -0.192688  0.629066  ... -1.303223  0.081337  0.196106 -0.213623

        296       297       298       299    Survived  Predicted_Survived
0  0.307373 -0.018921 -0.632782  0.642090  successful          successful
1  0.041931 -0.513794  0.992310  0.368988  successful          successful
2  0.198242 -0.624329  0.127197 -0.395508  successful          successful
3  0.512772 -0.262512  0.831787 -0.578247  successful          successful
4  0.755554  0.049042 -0.187012 -0.517426  successful          successful

[5 rows x 302 columns]
              precision    recall  f1-score   support

    canceled       0.07      0.02      0.03        98
      failed       0.29      0.08      0.12       476
        live       0.11      0.05      0.07       110
  successful       0.69      0.92      0.79      1498

    accuracy                           0.65      2182
   macro avg       0.29      0.27      0.25      2182
weighted avg       0.55      0.65      0.57      2182

[[   2   13    0   12]
 [   9   36    8   72]
 [   0    6    6   42]
 [  87  421   96 1372]]
Accuracy of the model on Testing Sample Data: 0.57